<h4 class="text-center">Login</h4>

<form class="form mt-4" [formGroup]="loginForm" (submit)="login()">

  <div class="form-group">

    <mat-form-field class="w-100">
      <mat-label>Usuário</mat-label>
      <input #userNameInput
             formControlName="userName"
             matInput type="text" >
    </mat-form-field>

    <!-- formControlName (Nome dos campos no component (userName:[]) -->

<!--    Acredite, podemos fazer 'terneiro' assim no Angular-->
    <app-vmessage
      *ngIf="loginForm.get('userName').errors?.required"
      text="Nome de usuário é obrigatório!"
    ></app-vmessage>
  </div>

  <div class="form-group">
    <!-- formControlName (Nome dos campos no component (password:[]) -->
    <mat-form-field class="w-100">
      <mat-label>Senha</mat-label>
      <input formControlName="password"
             matInput type="password" >
    </mat-form-field>
<!--    Acredite, podemos fazer 'terneiro' assim no Angular-->
    <app-vmessage
      *ngIf="loginForm.get('password').errors?.required"
      text="Senha é obrigatória "
    ></app-vmessage>
  </div>

<!-- Não precisamos fazer a gambiarra de pegar campo por campo e criar um novo método -->
<!--  o próprio validate do Angular faz isso pra nós ;) -->
  <button
    [disabled]="loginForm.invalid"
    type="submit"
    class="btn btn-primary btn-block">
    login
  </button>

</form>

<p>Não é registrado?<a [routerLink]="['signup']" class="ml-2">Registre-se agora</a></p>
